* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    height: 3000px;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    min-height: 100vh;
    background: var(--header-bg-color);
}

.header-top {
    padding: 36px 0 8px;
}

.logo {
    display: inline-flex;
    font-size: 1rem;
    position: relative;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    border-radius: 50%;
    display: inline-block;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background: #fff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    color: #FFF;
    text-align: right;
    font-size: 1.8em;
    display: block;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}