* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
    --primary-btn-color: #2E80CE;
}

img {
    object-fit: cover;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    height: 5000px;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-title {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.section-desc {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 18px;
}

.btn {
    /* size */
    --height: 60px;
    min-width: 205px;
    height: var(--height);
    /* center the text */
    text-align: center;
    line-height: var(--height);
    /* border */
    border-radius: 99px;
    background: var(--primary-btn-color);
    border: 1px solid var(--primary-btn-color);
    color: #FFF;
    /* font */
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    /* cursor */
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

/* Header */
.header--fixed {
    padding: 30px 0 8px;
    background: #10375C;
    position: sticky;
    top: -22px;
    z-index: 99;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__icon::before,
.logo__icon::after {
    content: "";
    border-radius: 50%;
    display: inline-block;
}

.logo__icon::before {
    width: 3em;
    height: 3em;
    background: var(--primary-btn-color);
}

.logo__icon::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    background: #fff;
    width: 1.6em;
    height: 1.6em;
}

.logo__content {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__text {
    color: #FFF;
    font-size: 1.8em;
    display: block;
}

.logo__text--small {
    font-size: 1.2em;
}

/* Navbar */
.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link {
    display: flex;
    align-items: center;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    background: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 8px;
}

.header-action {
    display: inline-flex;
    align-items: center;
    column-gap: 7px;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/* Hero */
.hero {
    padding: 76px 0 110px;
    background: var(--header-bg);
}

.hero__container {
    display: flex;
    align-items: center;
    column-gap: 113px;
}

.hero__content {
    width: 44%;
}

.hero__title {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__book {
    font-size: 1.8rem;
}

.hero__call {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
}

.hero__img-group {
    flex-grow: 1;
    position: relative;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img--large {
    position: relative;
    z-index: 1;
}

.hero__img--small {
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
    position: absolute;
    bottom: 65px;
    right: 6px;
}

/* Services */
.service {
    padding: 170px 0;
}

.service__title,
.service__desc {
    text-align: center;
}

.service__desc {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__bottom {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
}

.service-item {
    max-width: 470px;
    display: flex;
    padding: 21px 22px;
    column-gap: 19px;
    border-radius: 10px;
    background: #FFF;
    transition: all 500ms ease;
}

.service-item__icon-wrap {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    color: var(--header-bg);
    background: #EFF6FD;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon-wrap {
    color: #fff;
    background: var(--primary-btn-color);
}

.service-item__title {
    color: var(--header-bg);
    font-size: 18px;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.service__btn {
    margin-top: 55px;
}

/* How it works */
.work {
    padding: 100px 0;
    background: #F6FBFF;
}

.work__desc {
    max-width: 468px;
}

.work-bottom {
    margin-top: 86px;
}

.work__list {
    display: flex;
    justify-content: space-between;
}

.work-item {
    padding: 43px 42px;
    max-width: 370px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    transition: all 500ms ease;
}

.work-item:hover {
    border-color: var(--primary-btn-color);
    transform: translateY(-16px);
}

.work-item:hover .work-item__action {
    color: var(--primary-btn-color);
}

.work-item__title {
    margin-top: 18px;
    color: var(--header-bg);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__action,
.work-item__desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__action {
    margin-top: 18px;
    display: inline-block;
    transition: all 500ms ease;
}